html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS (sans-serif)';
    text-align: center;
    background-color: dodgerblue;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gameboard {
    display: grid;
    gap: 2px;
    background-color: navy;
    padding: 5px;
    border-radius: 5px;
}

#player-2-area .cell {
    cursor: pointer;
}

#player-2-area .cell:hover {
    background-color: dodgerblue;
}

.cell {
    background-color: lightblue;
    border: 1px solid navy;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dragover-blue {
    background-color: blue;
}

.dragover-red {
    background-color: red;
}

.ship {
    background-color: grey;
    height: min-content;
    opacity: "1";
}



.selected {
    outline: 1px solid yellow;
    opacity: "0.4";
}

.hit {
    background-color: greenyellow;
}

.miss {
    background-color: red;
}

#harbour {
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 100px;
    padding: 100px;
    border-radius: 5px;
}

#rotate-button {
    background-color: cornflowerblue;

}

.ship-square {
    background-color: black;
    width: 50px;
    height: 50px;
}